node_modules
.env
myenv
.vscode

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# public key
/prover/ezkl-outputs/pk.key
